.background-bg {
    background-image: url(./images/theme-color.jpeg);
}
.newly-launched-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(4 7 47 / 10%);
    color: #0d0d0d;
    transition: all 0.3s ease-out 0s;
}
.newly-launched-slider .slick-arrow::before {
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newly-launched-slider .slick-arrow.slick-prev {
    left: -35px;
}
.newly-launched-slider .slick-arrow.slick-next {
    right: -85px;
}
.newly-launched-slider .slick-arrow.slick-prev::before {
    content: '';
    background-image: url(../../img/prev.svg);
}
.newly-launched-slider .slick-arrow.slick-next::before {
    content: '';
    background-image: url(../../img/next.svg);
}

.newly-launched-slider .slick-arrow.slick-prev:hover::before {
    content: '';
    background-image: url(../../img/prev-light.svg);
}
.newly-launched-slider .slick-arrow.slick-next:hover::before {
    content: '';
    background-image: url(../../img/next-light.svg);
}