/* New Slider */
.slider-home {
    width: 100%;
}
.slide-item {
    position: relative;
    height: 90vh;
    width: 100%;
}
.slide-item .slide-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
}
.slide-content h2 {
    font-size: 30px;
    line-height: 55px;
    display: block;
    padding: 15px 0 0;
    transition: transform 1.5s 1s;
    transform: translateY(0);
    margin: 0;
}
.slide-content p {
    display: block;
    padding: 0 0 15px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}
.slide-content span {
    font-size: 20px;
    display: block;
}
@media (max-width: 480px) {
    .slide-content p, .slide-content span {
        display: none;
    }
    .slide-item {
        height: 60vh;
        min-height: 250px;
    }
    .slide-content {
        top: initial;
        bottom: 10%;
        left: 24px;
    }
    .slide-content h2 {
        font-size: 20px;
        line-height: 35px;
    }
}