.about-intro-wrapper {
    background-image: url(./images/video-section.jpeg); 
    background-position: right bottom;
}
.vision-wrap {
    background:white; 
    padding: 40px 20px; 
    margin-top: -60px; 
    position:relative; 
    z-index: 2; 
    border-radius: 20px;
}