/* Transparent Header */

.transparent-header {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


/* Header Navigation */

.header-navigation .main-menu ul>li.has-children>a:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(./images/drop-arrow.svg) no-repeat;
    margin-top: 2px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-size: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-navigation .main-menu ul>li.has-children>a:after {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-navigation .main-menu ul>li.has-children>a:after {
        display: none;
    }
}

.header-navigation .main-menu ul>li.has-children>a.active:after {
    color: #ff344f;
}

.header-navigation .main-menu ul>li.has-children .sub-menu li.has-children:hover>a:after {
    color: #fff;
}

.header-navigation .main-menu ul>li.has-children .sub-menu li.has-children>a:after {
    margin-left: 0px;
    margin-right: 5px;
    color: #0d0d0d;
}

.header-navigation .main-menu ul li {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}
.header-navigation .main-menu ul li.has-children {
    margin-right: 28px;
}
.header-navigation .main-menu ul li.has-children a {
    position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-navigation .main-menu ul li {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.header-navigation .main-menu ul li:first-child>a {
    padding-left: 0px;
}

.header-navigation .main-menu ul li>a {
    display: block;
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    text-transform: capitalize;
    padding: 32px 0px;
    line-height: 1;
}

.header-navigation .main-menu ul li>a.active {
    color: #ff344f;
}

.header-navigation .main-menu ul li.nav-btn {
    display: none;
}

@media (max-width: 767px) {
    .header-navigation .main-menu ul li.nav-btn {
        display: inline-block;
    }
    .header-navigation .main-menu ul li.nav-btn .main-btn {
        color: #fff;
        padding: 14px 30px;
    }
    .header-area .header-navigation .header-right-nav ul li .main-btn {
        font-size: 12px;
        padding: 5px;
    }
}

.header-navigation .main-menu ul li .sub-menu {
    position: absolute;
    left: 0;
    top: 120%;
    width: 200px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 99;
    height: auto;
    text-align: left;
}

.header-navigation .main-menu ul li .sub-menu li {
    display: block;
    margin: 0;
}

.header-navigation .main-menu ul li .sub-menu li:last-child>a {
    border-bottom: none;
}

.header-navigation .main-menu ul li .sub-menu li a {
    display: block;
    padding: 7px 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
    line-height: 2;
    margin: 0;
    border-bottom: 1px solid #ececec;
    color: #1b3255;
}

.header-navigation .main-menu ul li .sub-menu li a:hover {
    background-color: #ff344f;
    color: #fff;
    border-color: transparent;
}

.header-navigation .main-menu ul li .sub-menu li .sub-menu {
    left: 100%;
    top: 50%;
}

.header-navigation .main-menu ul li .sub-menu li:hover .sub-menu {
    top: 0%;
}

.header-navigation .main-menu ul li .sub-menu li:hover>a {
    background-color: #ff344f;
    color: #fff;
}

.header-navigation .main-menu ul li:hover.menu-item-has-children>a:after {
    color: #ff344f;
}

.header-navigation .main-menu ul li:hover>a {
    color: #ff344f;
}

.header-navigation .main-menu ul li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-navigation .main-menu ul li .dd-trigger {
    display: none;
}

.header-navigation.breakpoint-on .nav-menu {
    text-align: left;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9999;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 70px;
}

.header-navigation.breakpoint-on .nav-menu.menu-on {
    left: 0;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #ececec;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li:last-child {
    border-bottom: 0;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li.active .sub-menu {
    border-top: 1px solid #ececec;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #0d0d0d;
    padding: 13px 20px;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li.nav-btn {
    padding: 10px 20px;
    display: none;
}

@media (max-width: 767px) {
    .header-navigation.breakpoint-on .nav-menu .main-menu ul li.nav-btn {
        display: inline-block;
    }
    .header-navigation.breakpoint-on .nav-menu .main-menu ul li.nav-btn .main-btn {
        display: inline-block;
        color: #fff;
    }
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li .sub-menu {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    display: none;
    -webkit-transition: none;
    transition: none;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li .sub-menu li a {
    color: #0d0d0d;
    padding: 0px 20px 0 40px;
    line-height: 45px;
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li .sub-menu li a:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.header-navigation.breakpoint-on .nav-menu .main-menu ul li .dd-trigger {
    display: block;
    position: absolute;
    right: 0;
    height: 42px;
    width: 45px;
    top: 0;
    border-left: 1px solid #eaeaea;
    z-index: 2;
    background: transparent;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: #0d0d0d;
    font-size: 20px;
}

.header-navigation.breakpoint-on .nav-menu .main-menu.menu-on {
    left: 0;
}

.header-navigation.breakpoint-on .navbar-close,
.header-navigation.breakpoint-on .navbar-toggler {
    display: block;
}

.header-navigation .header-right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-navigation .navbar-toggler {
    display: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-navigation .navbar-toggler span {
    position: relative;
    background-color: #0d0d0d;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    width: 30px;
    cursor: pointer;
    display: block;
}

.header-navigation .navbar-toggler.active span:nth-of-type(1) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
}

.header-navigation .navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
}

.header-navigation .navbar-toggler.active span:nth-of-type(3) {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    top: -8px;
}

.header-navigation .navbar-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: none;
    cursor: pointer;
    background: #ff344f;
}

.header-navigation .navbar-close i {
    color: #fff;
    font-size: 20px;
}


/* Header Area Common */

.header-area .header-top .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-top .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-area .header-top .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-area .header-top .top-social {
        text-align: center;
    }
}

.header-area .header-top .top-social ul.social-link li {
    margin-right: 10px;
}

.header-area .header-top .top-social ul.social-link li span {
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: #0d0d0d;
}

@media (max-width: 767px) {
    .header-area .header-top .top-content {
        padding: 10px 0;
    }
}

.header-area .header-top .top-content p a {
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    text-decoration: underline;
    text-underline-position: under;
}

.header-area .header-top .top-right {
    float: right;
}

@media (max-width: 991px) {
    .header-area .header-top .top-right {
        float: none;
    }
    .header-area .header-top .top-right ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.header-area .header-top .top-right ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.header-area .header-top .top-right ul li:after {
    content: "|";
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    color: #dcdedf;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-top .top-right ul li:after {
        margin-left: 10px;
        margin-right: 12px;
    }
}

.header-area .header-top .top-right ul li a {
    color: #0d0d0d;
}

.header-area .header-top .top-right ul li a span {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top .top-right ul li a span {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-area .header-top .top-right ul li a span {
        display: none;
    }
}

.header-area .header-top .top-right ul li i {
    margin-right: 7px;
}

.header-area .header-top .top-right ul li:last-child:after {
    display: none;
}

.header-area .header-navigation .header-right-nav ul li {
    margin-left: 20px;
}

.header-area .header-navigation .header-right-nav ul li:first-child {
    margin-left: 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-navigation .header-right-nav ul li.user-btn {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-area .header-navigation .header-right-nav ul li.user-btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-area .header-navigation .header-right-nav ul li.hero-nav-btn {
        display: none;
    }
}

.header-area .header-navigation .header-right-nav ul li a {
    color: #0d0d0d;
}

.header-area .header-navigation .header-right-nav ul li a span {
    margin-left: 7px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-navigation .header-right-nav ul li a span {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-area .header-navigation .header-right-nav ul li a span {
        display: none;
    }
}

.header-area .header-navigation .header-right-nav ul li .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #ffd74e;
    color: #0d0d0d;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .header-area .header-navigation .header-right-nav ul li .icon {
        width: 40px;
        height: 40px;
    }
}

.header-area .header-navigation .header-right-nav ul li .main-btn {
    padding: 14px !important;
    border-radius: 28px;
    color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-navigation .header-right-nav ul li .main-btn {
        padding: 14px 22px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-navigation .header-right-nav ul li .main-btn {
        padding: 14px 20px;
    }
}

.header-area .header-navigation .header-right-nav ul li.nav-toggle-btn {
    display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-navigation .header-right-nav ul li.nav-toggle-btn {
        display: block;
    }
}

@media (max-width: 991px) {
    .header-area .header-navigation .header-right-nav ul li.nav-toggle-btn {
        display: block;
    }
}


/* Header Area One */

.header-area-one .header-top {
    padding: 5px 0 0 0;
}

.header-area-one .header-navigation {
    position: relative;
    margin-bottom: -100px;
    z-index: 999;
}

.header-area-one .header-navigation .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area-one .header-navigation .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area-one .header-navigation .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-area-one .header-navigation .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header-area-one .header-navigation .primary-menu {
    background-color: #f7f7f7;
}

.header-area-one .header-navigation .site-branding .brand-logo {
    padding: 21px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: none;
}

.header-area-one .header-navigation .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    float: right;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area-one .header-navigation .nav-menu {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: block;
    }
}

@media (max-width: 991px) {
    .header-area-one .header-navigation .nav-menu {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: block;
    }
}

.header-area-one .header-navigation .header-right-nav {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 30px;
}

@media (max-width: 767px) {
    .header-area-one .header-navigation .header-right-nav {
        padding-right: 15px;
    }
}


/* Header Area Two */

.header-area-two .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area-two .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area-two .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-area-two .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area-two .header-navigation .header-right-nav ul li a span {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-area-two .header-navigation .header-right-nav ul li a span {
        display: none;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1655px) {
    .header-area .header-top .container-fluid,
    .header-area-one .header-navigation .container-fluid,
    .header-area-two .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* Header Area Three */

.header-area-three .header-top {
    padding: 15px 0;
    background-color: #fff;
    margin-bottom: 12px;
}

.header-area-three .header-navigation {
    position: relative;
}

.header-area-three .header-navigation .main-menu ul>li.has-children>a:after {
    color: #fff;
}

.header-area-three .header-navigation .main-menu ul>li.has-children>a.active:after {
    color: #ff344f;
}

.header-area-three .header-navigation .main-menu ul li a {
    color: #fff;
}

.header-area-three .header-navigation .main-menu ul li:hover.has-children>a:after {
    color: #ff344f;
}

.header-area-three .header-navigation .main-menu ul li:hover>a {
    color: #ff344f;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area-three .header-navigation .header-right-nav ul li .main-btn {
        padding: 14px 15px;
    }
}

.header-area-three .header-navigation .navbar-toggler span {
    background-color: #fff;
}


/* Sticky Header */

.header-navigation.sticky,
.hero-slider-wrapper.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-animation: sticky 1.2s;
    animation: sticky 1.2s;
	
}

.header-area-two .header-navigation {
    padding: 5px 0;
}


.header-area-two .header-navigation.sticky {
    background-color: #fff;
}

.header-area-three .header-navigation.sticky {
    padding: 15px 0;
    background-color: #0d0d0d;
}

@-webkit-keyframes sticky {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes sticky {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}


/* New */
.hero-slider-wrapper {
    position: absolute;
    z-index: 3;
    top: 20%;
    background: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .hero-slider-wrapper {
        top: 80px;
    }
}

.hero-slider-wrapper .hero-content {
    position: relative;
    z-index: 10;
    background: none;
}

.hero-slider-wrapper .hero-content h1 {
    margin-bottom: 22px;
}

.hero-slider-wrapper .hero-content h3 {
    margin-bottom: 45px;
}

.hero-slider-wrapper .hero-content .hero-search-wrapper {
    padding: 15px;
    background-color: #fff;
    border-radius: 60px;
    position: relative;
    left: 50%;
}

.hero-slider-wrapper .hero-content .hero-search-wrapper form .main-btn {
    padding: 7px!important;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .hero-slider-wrapper .hero-content .hero-search-wrapper form .main-btn {
        padding: 7px!important;
    }
    .hero-slider-wrapper {}
    .fnc-slide__content {
        position: relative;
        top: 35%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-slider-wrapper .hero-content .hero-search-wrapper form .main-btn {
        padding: 20px 10px;
        font-size: 13px;
    }
}

.hero-slider-wrapper .hero-content .hero-search-wrapper form .form_control {
    background-color: #f7f7f7;
}

.hero-slider-wrapper .hero-content p.tags {
    color: #0d0d0d;
    font-weight: 500;
}

.hero-slider-wrapper .hero-content p.tags span {
    margin-right: 10px;
}

.hero-search-wrapper form .form_group i {
    position: absolute;
    top: 29px;
    right: 20px;
}

.hero-search-wrapper form .form_control {
    padding: 0 20px;
    height: 60px;
    border-radius: 3px;
}

.fnc-slider .hero-content {}

@media (max-width: 991px) {
    .hero-search-wrapper form .form_control {
        margin-bottom: 20px;
    }
}

.hero-search-wrapper form .nice-select {
    height: 44px;
    line-height: 44px;
    border-radius: 50px;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .hero-search-wrapper form .nice-select {
        margin-bottom: 20px;
    }
}

.hero-search-wrapper form .main-btn {
    padding: 20px 25px;
    line-height: 28px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-content h1 {
        font-size: 60px;
        line-height: 75px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 42px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .hero-content h1 {
        font-size: 32px;
        line-height: 45px;
    }
    .hero-slider-wrapper .hero-content .hero-search-wrapper {
        border-radius: 50px;
        left: 0;
    }
}

@media (max-width: 991px) {
    .hero-content h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

.head-select > div.css-1s2u09g-control {
    border: solid 1px #e8e8e8;
    /* height: 44px; */
    /* border-radius: 50px;
    padding-left: 12px; */
}
.head-select .css-1hb7zxy-IndicatorsContainer span {
    display: none;
}