.partners-banner {
    width: 100%;
    height: 100%;
    background: url(./images/partners.jpeg) no-repeat center;
}
.title-form {
    text-align: left;
    position: relative;
    color: #888;
}
.title-form::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: #888;
    height: 2px;
    width: 50px;
    left: 0;
}
.contact-wrapper-one .partners-form {
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px 30px 25px;
    position: relative;
    z-index: 9;
}
.contact-wrapper-one .partners-form form .form_control {
    border: 1px solid #dde0e2;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.contact-wrapper-one .partners-form form textarea.form_control {
    height: 200px;
}
.contact-wrapper-one .partners-form form .main-btn {
    border-radius: 50px;
    padding: 8px 14px;
    margin-top: 20px;
    z-index: 0;
}
.partners-form .form_group > div {
    outline: none !important;
}
.partners-form .partner-select-city__control {
    height: 50px;
    border: 1px solid #dde0e2;
    border-radius: 10px;
}
.partners-form .partner-select-city__value-container {
    padding: 0 25px;
}
.partners-form .partner-select-city__indicator-separator {
    display: none;
}
.description-content-box .why-partner-icons {
    width: 87px;
    height: auto;
}