.background-housr {
    background: url(./images/theme-color-a-bg-grad.jpeg) no-repeat center center;
}

.footer-widget .widget h4.widget-title {
    margin-bottom: 20px;
}

.footer-widget .widget.about-widget ul.button {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(223, 225, 228, 0.2);
    margin-bottom: 22px;
}

.footer-widget .widget.about-widget ul.button li {
    display: inline-block;
}

.footer-widget .widget.about-widget ul.button li .app-btn:hover {
    background-color: #ff344f;
    color: #fff;
}

.footer-widget .widget.about-widget ul.button li .app-btn:hover .icon i {
    color: #fff;
}

.footer-widget .widget.about-widget ul.button li .app-btn:hover .info h6 {
    color: #fff;
}

.footer-widget .widget.about-widget .footer-social h4 {
    color: #fff;
    margin-bottom: 25px;
}

.footer-widget .widget.about-widget .footer-social ul.social-link li {
    margin-right: 10px;
}

.footer-widget .widget.about-widget .footer-social ul.social-link li a {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-widget .widget.recent-post-widget .post-widget-list .post-content-item {
    margin-bottom: 30px;
}

.footer-widget .widget.recent-post-widget .post-widget-list .post-content-item:last-child {
    margin-bottom: 0;
}

.footer-widget .widget.recent-post-widget .post-widget-list .post-content-item .post-title-date span.posted-on {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-widget .widget.recent-post-widget .post-widget-list .post-content-item .post-title-date h6.title {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}

.footer-widget .widget.categories-widget ul.categories-link li {
    margin-bottom: 1px;
    font-size: 12px;
}

.footer-widget .widget.categories-widget ul.categories-link li a:before {
    display: inline-block;
    content: "\e649";
    font-family: "themify";
    margin-right: 10px;
    font-size: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-widget .widget.categories-widget ul.categories-link li a:hover:before {
    margin-right: 15px;
}

.footer-widget .widget.newsletter-widget P {
    margin-bottom: 30px;
}

.footer-widget .widget.newsletter-widget form .form_control {
    margin-bottom: 20px;
    border-radius: 3px;
}

.footer-widget .widget.newsletter-widget form .main-btn {
    border-radius: 30px;
    color: #0d0d0d;
    background-color: #ffd74e;
}

.footer-widget .widget.newsletter-widget form .main-btn:hover {
    color: #fff;
}

.footer-widget .widget.newsletter-widget form .main-btn:hover:before {
    background-color: #ff344f;
}

.copyright-area {
    border-top: 1px solid rgba(223, 225, 228, 0.15);
    padding: 25px 0;
}

@media (max-width: 991px) {
    .copyright-area .copyright-text {
        text-align: center;
    }
}

.copyright-area .copyright-link {
    float: right;
}

@media (max-width: 991px) {
    .copyright-area .copyright-link {
        float: none;
        text-align: center;
        padding-top: 15px;
    }
}

.copyright-area .copyright-link ul li {
    display: inline-block;
}

.copyright-area .copyright-link ul li:last-child:after {
    display: none;
}

.copyright-area .copyright-link ul li:after {
    display: inline-block;
    content: "|";
    margin-left: 7px;
    margin-right: 5px;
}

.copyright-area .copyright-link ul li a {
    color: #aaaaaa;
}
/* Accordion added */
.footer-collapsible .container-desktop {
    display: block;
}
.footer-collapsible .container-mobile {
    display: none;
}
.footer-collapsible .Collapsible__trigger {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin: 0 0 10px;
    cursor: pointer;
    pointer-events: none;
    width: 100%;
}
@media (max-width: 767px) {
    .footer-collapsible .Collapsible__trigger {
        pointer-events: initial;
        color: #fff;
        padding: 5px 10px;
        margin: 0!important;
        border-radius: 0.55em;
        border: 1px solid #333;
        transition: background 0.3s easeIn;
        position: relative;
    }
    .footer-collapsible .Collapsible__trigger::after {
        content: "\e62a";
        font-family: 'themify';
        font-size: 12px;
        color: #fff;
        float: right;
    }
    .footer-collapsible .container-desktop {
        display: none;
    }
    .footer-collapsible .container-mobile {
        display: block;
    }
}