
.testimonials_one {
    position: relative;
    display: block;
    padding: 120px 0 80px;
    background: #e5e5e5;
}

.testimonial_one_map {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1183px;
    height: 574px;
    right: 0;
    transform: translateX(-50%);
    opacity: 0.05;
    background-image: url(./images/testimonial-one-map.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.testimonials_one .container-box {
    position: static;
    max-width: 1330px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.testimonials_one .container-box h4 {
    color: #F00;
}

.testimonials_one_single {
    position: relative;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 165px;
    padding-right: 50px;
    z-index: 10;
    margin: 0 20px 70px;
}

.testimonials_one_single:before {
    position: absolute;
    bottom: -40px;
    left: 130px;
    width: 91px;
    height: 40px;
    background-image: url(./images/testimonials-shape.png);
    background-repeat: no-repeat;
    content: "";
}

.testimonials_one_single:after {
    position: absolute;
    top: 0;
    left: 65px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    content: "";
    z-index: -1;
    border-radius: 24px;
}

.testimonials_one_single .shadow-box {
    position: absolute;
    top: 0;
    border-radius: 4px;
    left: 65px;
    bottom: 0;
    right: 0;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    z-index: -1;
}

.testimonials_one_image {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 110px;
    height: 110px;
}

.testimonials_one_image:before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    content: "";
    border: 4px solid #ccc;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.testimonials_one_single:hover .testimonials_one_image:before {
    border: 10px solid #ccc;
}

.testimonials_one_image img {
    border-radius: 50%;
    width: 100%;
}

.testimonials_one_text {
    position: relative;
    display: block;
}

.testimonials_one_rating_box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.testimonials_one_rating_box a {
    color: #ccc;
    font-size: 15px;
}

.testimonials_one_rating_box a+a {
    margin-left: 9px;
}

.testimonials_one_text_box {
    padding-top: 20px;
    padding-bottom: 22px;
}

.testimonials_one_text_box p {
    font-size: 16px;
    margin: 0;
    line-height: 36px;
}

.testimonials_quote_icon {
    position: absolute;
    bottom: -4px;
    right: 10px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.testimonials_quote_icon span {
    font-size: 62px;
    color: #f0f3f6;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.testimonials_one_single:hover .testimonials_quote_icon span {
    color: #ccc;
}

.testimonials_one_single .customer_info {}

.testimonials_one_single .customer_info h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.testimonials_one_single .customer_info span {
    font-size: 14px;
    color: #0d0d0d;
    margin-left: 5px;
}

.testimonials_one_carousel.owl-carousel .owl-stage-outer {
    padding-bottom: 80px;
}

.bgvid {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

.bgvid-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: #fff;
    z-index: 3;
}

@media (max-width: 480px) {
    .testimonials_one_single {
        padding: 120px 25px 30px;
        margin: 0 0 70px;
    }
    .testimonials_one_image {
        top: 0;
    }
    .testimonials_one_image {
        top: 30px;
        left: -25px;
        margin-left: 40%;
    }
    .testimonials_one_single:after {
        left: 5px;
    }
    .testimonials_quote_icon span {
        font-size: 52px;
        z-index: 1;
        position: relative;
        display: block;
    }
    .testimonials_one_single .testimonials_one_text_box p{font-size: 14px; line-height: 20px; margin-top: 25px; text-align:center;}
    .testimonials_one_single .shadow-box {
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
    }
}