.housr-way-title {
    font-weight: 700;
    margin-bottom: 0.25rem!important;
}
.intro-wrapper-one {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    background-image: none;
}

.intro-wrapper-one:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 31, 0.2);
    z-index: -1;
}

.intro-wrapper-one .play-content-one .video-popup {
    margin-bottom: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
}

.intro-wrapper-one .play-content-one .video-popup i {
    font-size: 18px;
}

.intro-wrppaer-two {
    position: relative;
    z-index: 1;
    padding: 220px 0 215px;
}

.intro-wrppaer-two:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.intro-wrppaer-two .play-content .video-popup {
    width: 90px;
    height: 90px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.intro-wrppaer-two .play-content .video-popup:after,
.intro-wrppaer-two .play-content .video-popup:before {
    border-color: #fff;
}

@media (max-width: 991px) {
    .intro-content-box-one {
        text-align: center;
        margin-top: 40px;
    }
}

.intro-content-box-one {
    color: #fff;
}
.intro-content-box-one h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 16px;
    color: #fff;
    margin: 0;
}
.intro-content-box-one p {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 35px;
    color: #fff;
}

.intro-content-box-one .main-btn {
    background-color: #ffd74e;
    color: #0d0d0d;
}

.intro-content-box-one .main-btn:hover {
    color: #fff;
}

.video-popup {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-popup:after,
.video-popup:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
    -webkit-animation-name: popupBtn;
    animation-name: popupBtn;
    -webkit-animation: popupBtn infinite 1.8s linear;
    animation: popupBtn infinite 1.8s linear;
}

.video-popup:before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@-webkit-keyframes popupBtn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
    }
}

@keyframes popupBtn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
    }
}

iframe.embed-responsive-item {
    padding:5px; 
    background:#3b436c; 
    border:none; 
    vertical-align:bottom;
}