/* Work Process CSS */

.work-process-wrapper .single-process-step {
    padding-bottom: 120px;
}

.work-process-wrapper .single-process-step:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.work-process-wrapper .single-process-step .process-content-box {
    padding: 0 20px;
}

@media (max-width: 991px) {
    .work-process-wrapper .single-process-step .process-content-box {
        margin-bottom: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


.work-process-wrapper .single-process-step .process-content-box .step-count {
    font-size: 48px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    margin-right: 20px;
}
.work-process-wrapper .single-process-step .process-content-box .step-count span{
	font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    color: rgba(231,57,267,.2);
}
.work-process-wrapper .single-process-step .process-content-box .step-count p{position: absolute;
    top: 30px;
	color:#333;
    font-size: 25px;
    font-weight: 500;}
	

@media (max-width: 991px) {
    .work-process-wrapper .single-process-step .process-content-box .step-count {
        margin-bottom: 0;
    }
}

.work-process-wrapper .single-process-step .process-content-box .content span.line {
    display: block;
    width: 200px;
    height: 1px;
    margin-bottom: 45px;
    background-color: #0d0d0d;
}

.work-process-wrapper .single-process-step .process-content-box .content h3 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 23px;
}

.work-process-wrapper .single-process-step .process-content-box .content p {
    margin-bottom: 38px;
}
